/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Asap Condensed, sans-serif;
    font-weight: 300px;
    background-color: orange;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
/* Styling the header */
#header {
    margin: 10px;
    padding-bottom: 40px;
}

#game-title {
    font-size: 100px;
    padding-top: 45px;
    color: white;
    display: inline-block;
}
/* Styling for the Footer*/

#footer {
    position: fixed;
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 16px;
}

#social-networks a{
    float: right;
    color: white;
    margin-right: 40px;
}

#social-networks {
    text-align: center;
}

#social-networks > li {
    display: inline;
}

#social-networks li {
    font-size: 160%;
}

#copyright {
    float: left;
    margin-left: 40px;
    font-size: 160%;
}

fieldset {
    border: 3px solid white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
    
    /* Submit button at the end of the quiz */
#submit {
    background-color: orange;
    border: 2px solid white; 
    border-radius: 12px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}