/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Asap Condensed, sans-serif;
    font-weight: 300px;
    background-color: orange;
    color: lemonchiffon;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
/* Styling the header */
#header {
    margin: 10px;
    padding-bottom: 40px;
}

#game-title {
    font-size: 100px;
    padding-top: 45px;
    color: lemonchiffon;
    display: inline-block;
}
/* Styling for the Footer*/

#footer {
    position: fixed;
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color:lemonchiffon;
    text-align: center;
    font-size: 16px;
}

#social-networks a{
    float: right;
    color:lemonchiffon;
    margin-right: 40px;
}

#social-networks {
    text-align: center;
}

#social-networks > li {
    display: inline;
}

#social-networks li {
    font-size: 160%;
}

#copyright {
    float: left;
    margin-left: 40px;
    font-size: 160%;
}
/*Styling the question and answer boxes*/

.quiz-box {
    border: 3px solid lemonchiffon;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    width: 50%;
    overflow: hidden;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,0.4);
}
    
    /* Submit button at the end of the quiz */
#submit {
    background-color: orange;
    border: 5px solid lemonchiffon; 
    border-radius: 12px;
    color: lemonchiffon;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

#submit:hover {
    background-color: navajowhite;
}

/* Styling for the score box*/

#show-score {
    background-color: lightgrey;

}

.score-box {
    display: none;
}
